@charset "utf-8";

/*
 * base.css
 *+ Reset
 *+ Font
 *+ Base Layout
 *+ Clearfix
*/

/************************************************

 Reset

*************************************************/
html,body { width: 100%; }
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, form, fieldset { margin: 0; padding: 0; }
ul { list-style: none; }
img { border: 0; vertical-align: top; } td img { vertical-align: baseline; }
table { border-collapse: collapse; border-spacing: 0; } fieldset { border: 0; }
sup { margin: 0; padding: 0; font-size: 60%; line-height: 110%; vertical-align: top; }

/************************************************

 Font Browser default 16px reset default 16 * 0.625 = 10px 

************************************************/
body {
	font-family: Helvetica, "Meiryo", "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.7; font-size: 62.5%;
}

table, ul ul, ul p, ol ol, td ul, td p, td dt, td dd {
	font-size: 100%;/* nesting element */
}

ul, ol, p, dt, dd, caption, th, td, select, input, textarea, button {
	font-size: 130%;/* default 13px */
}

h1, h2, h3, h4, h5, h6 {
	font-size: 160%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}

small {
	font-size: 10px;
}

.smaller {
	font-size: 80%;
}

/************************************************

 Base Layout

************************************************/

/*--------------------
 Container
--------------------*/
#container {
	margin: 0 auto;
	width: 960px;
	text-align: left;
}

	#container-inner {
	}

/*--------------------
 Header
--------------------*/
#page-header {
}

	#page-header-inner{
	}

		#site-id {
			float: left;
		}
		 
		.page-header-section {
			float: right;
		}

/*--------------------
 Nav
--------------------*/
#nav {
}

	#nav li {
		float: left;
		width: 20%;
	}

/*--------------------
 Footer
--------------------*/
#page-footer {
	clear: both;
}

	#page-footer-inner {
	}

/*--------------------
 Content
--------------------*/
#content {
}

	#content-inner {
	}

/*--------------------
 Topic Path
--------------------*/
#breadcrumb {
}

/*--------------------
 Alpha
--------------------*/
#alpha-block {
	float: left;
	width: 700px;
}

	#alpha-block-inner {
	}

/*--------------------
 Beta
--------------------*/
#beta-block {
	float: right;
	width: 220px;
}

	#beta-block-inner {
	}

/************************************************

 Clearfix

************************************************/

#nav ul, #content-inner, #page-header-inner {
	zoom: 1;
}

#nav ul:after, #content-inner:after, #page-header-inner:after {
	content: ''; display: block; clear: both; overflow: hidden;
}
