/******************************
 * c-btn
 ******************************/

.c-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  line-height: 1.1;
  text-decoration: none;
  user-select: none;
  border: 0;
  font-size: 10px;
  &:hover {
    text-decoration: none;
  }

  &--totop {
    transition: none;
  }

  &--close {
    background: #000;
    width: 38px;
    height: 38px;
    &:before,
    &:after {
      @include object();
      background: #fff;
      width: 100%;
      height: 2px;
    }
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(-135deg);
    }
  }
}
