.c-list-disc {
  list-style: disc;
  margin-left: 20px;
  @include sp_style() {
  }
}

.c-list-inline {
  li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }
  @include sp_style() {
  }
}
