.linear-gradient {
	background: linear-gradient(to bottom, red 5%, yellow 25%, #1E90FF 50%);
}

.text-shadow {
	text-shadow : 2px 2px 2px #FFF, -2px 2px 2px #FFF, 2px -2px 2px #FFF, -2px -2px 2px #FFF;
}
