
// List
//
// Styleguide 3.0.0

//
// .list-default
//
// Markup:
// <ul class="list-default">
// 	<li>リスト</li>
// 	<li>リスト</li>
// </ul>
//
// Styleguide 3.1.0

.list-default {

	li { 
	}
}

// .list-has-thumb
//
// Markup:
// <ul class="list-has-thumb">
// 	<li>
// 	 <a>
// 	  <div class="thumb">image</div>
// 	  <div class="desc">desc</div>
// 	 </a>
// 	</li>
// </ul>
//
// Styleguide 3.2.0
.list-has-thumb {

	li {
		position: relative;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}

	 a {
		display: table-row;
		text-decoration: none;
	}

	.thumb,
	.desc {
		display: table-cell;
		vertical-align: middle;
	}
	
	.thumb { width: 100px; }
}

//
// Mediaquery
//
// Styleguide 3.100.0

@media screen and (max-width: $break_point) {

	#container {
	}
}
