@charset "UTF-8";

//************************************************

// Other

//************************************************

.icon {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 1.1;

	&.icon--arrow {
		top: 8px;
		width: 6px;
		height: 6px;
		border-top: 2px solid #999;
		border-right: 2px solid #999;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&.icon--circle-arrow {
		position: relative;
		background: #333;
		border-radius: 100px;
		width: 16px;
		height: 16px;

		&:after {
			@include new_pseudo();
			left: 4px;
			top: 5px;
			width: 4px;
			height: 4px;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		&.v-top:after {
			left: 5px;
			top: 6px;
			-moz-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		&.v-bottom:after {
			left: 5px;
			top: 4px;
			-moz-transform: rotate(-225deg);
			-webkit-transform: rotate(-225deg);
			transform: rotate(-225deg);
		}

		&.h-left:after {
			left: 6px;
			-moz-transform: rotate(-130deg);
			-webkit-transform: rotate(-130deg);
			transform: rotate(-130deg);
		}
	}

}

.button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 1.1;

	&.button--default {

	}

}

.linear-gradient {
	@include background-image(linear-gradient(white, #fff 0, #000 100%));
}

@media screen and (max-width: $break_point) {
}