.wrap-table {
	overflow: auto;	
}

// Table
//
// Styleguide 4.0.0

//
// table.table-default
//
// markup:
// <table class="table-default">
// 	<tbody>
// 	 <tr>
// 	 	<th>header</th>
// 	 	<td>data</td>
// 	 <tr>
//  </tbody>
// </table>
//
// Styleguide 4.1.0

.table-default {
	width: 100%;

	tr {
	
		th,
		td {
			padding: 10px;
			border: 1px solid #CCC;
		}

		th {
			background: #DEDEDE;
		}

		td {}

	}

}
//
// table.table-a
//
// markup:
// <table class="table-a">
// 	<tbody>
// 	 <tr>
// 	 	<th>header</th>
// 	 	<td>data</td>
// 	 <tr>
//  </tbody>
// </table>
//
// Styleguide 4.2.0

.table-a {

	tr {
		
		th,
		td {}

		th {}

		td {}

	}

}

//
// Mediaquery
//
// Styleguide 4.100.0

@media screen and (max-width: $break_point) {

	#container {

		.table-responsive {

			tr, th, td {
				display: block;
				border-bottom: 0;
			}

			th {
				padding-top: 5px;
				padding-bottom: 5px;
				width: auto;
				text-align: left;
			}

			td {
				padding-top: 5px;
				padding-bottom: 10px;
			}

		}
	}
}
