
// List

.list-default {

	li { 
	}
}

.list-inline {

	li {
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
	}
}

.list-table {

	li {
		position: relative;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}

	 a {
		display: table-row;
		text-decoration: none;
	}

	.thumb,
	.desc {
		display: table-cell;
		vertical-align: middle;
	}
	
	.thumb { width: 100px; }
}

//
// Mediaquery
//

@media screen and (max-width: $break_point) {

	#container {
	}
}
