.linear-gradient {
	background: linear-gradient(to bottom, red 5%, yellow 25%, #1E90FF 50%);
}

.text-shadow {
	text-shadow : 2px 2px 2px #FFF, -2px 2px 2px #FFF, 2px -2px 2px #FFF, -2px -2px 2px #FFF;
}

.compo-wrap-resposive-iframe {
	position: relative;
	width: 100%;
	padding-top: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

.compo-toggle__content {
	overflow: hidden;
}

@media screen and (max-width: $break_point) {

	#container {
	}
}