@charset "UTF-8";

//************************************************

// Table

//************************************************

.table-default {
	width: 100%;

	tr {
	
		th,
		td {
			padding: 10px;
			border: 1px solid #CCC;
		}

		th {
			background: #DEDEDE;
		}

		td {}

	}

}

.table-a {

	tr {
		
		th,
		td {}

		th {}

		td {}

	}

}

@media screen and (max-width: $break_point) {

	#container {

		.table-responsive {

			tr, th, td {
				display: block;
				padding-top: 5px;
				border-bottom: 0;
			}

			th {
				padding-bottom: 5px;
				width: auto;
				text-align: left;
			}

			td {
				padding-bottom: 10px;
			}

		}
	}
}
