.button {
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	line-height: 1.1;
	text-decoration: none;
	user-select: none;
	border: 0;
	@include transition(all 0.5s ease);

	&:hover {
		text-decoration: none;
	}

	&.button--default {

	}

}