#container .button {
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding: 10px;
	line-height: 1.1;
	text-decoration: none;
	user-select: none;
	border: 0;
	font-size: 10px;
	
	&:hover {
		text-decoration: none;
	}

	&.button--totop {
		transition: none;
	}

	&.button--default {
	
		@media screen and (min-width: $break_before) {
			&.hover {
				transition: all 0.25s ease;

				&:hover {
				}
			}
		}
	}
	
	&.button--close {
		background: #000;
		width: 38px;
		height: 38px;

		&:before,
		&:after {
			@include object();
			background: #FFF;
			width: 100%;
			height: 2px;
		}

		&:before {
			transform: rotate(135deg);
		}
		&:after {
			transform: rotate(-135deg);
		}
	}
	&.button--toggle {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 200;
		width: 13vw;
		height: 13vw;
		background: #000;
		transform: rotate(0deg);

		span {
			display: block;
			position: absolute;
			height: 1px;
			width: 50%;
			background: #FFF;
			opacity: 1;
			left: 25%;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
			top: 50%;

			&:nth-child(1) {
				top: 34%;
			}

			&:nth-child(2) {
				top: 50%;
			}

			&:nth-child(3) {
				top: 67%;
			}
		}

		&.button--toggle--open {

			span {

				&:nth-child(1) {
					top: 50%;
					transform: rotate(135deg);
				}

				&:nth-child(2) {
					opacity: 0;
					left: -60px;
				}

				&:nth-child(3) {
					top: 50%;
					transform: rotate(-135deg);
				}
			}
		}
	}

}