@charset "UTF-8";

//************************************************

// Header

//***********************************************

.site-header {

	.logo { float: left; }

}

.nav-main {

	ul {
		display: table;
		width: 100%;
	}

	li {
		display: table-cell;
	}
	
}

.toggle-nav {
	position: absolute;
	right: 14px;
	top: 26px;
	z-index: 200;
	width: 28px;
	height: 25px;
	@include transform(rotate(0deg));
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #000;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		@include transform(rotate(0deg));
		@include transition(.25s ease-in-out);

		&:nth-child(1) {
		  top: 0px;
		}

		&:nth-child(2) {
		  top: 9px;
		}

		&:nth-child(3) {
		  top: 18px;
		}
	}


	&.open {
		span {

			&:nth-child(1) {
			  top: 10px;
			  @include transform(rotate(135deg));
			}

			&:nth-child(2) {
			  opacity: 0;
			  left: -60px;
			}

			&:nth-child(3) {
			  top: 10px;
			  @include transform(rotate(-135deg));
			}
		}

		b {
			color: #FFF;
		}
	}

	b {
		display: block;
		width: 100%;
		text-align: center;
		position: absolute;
		font-weight: normal;
		left: -2px;
		bottom: -18px;
		font-size: 11px;
		color: #000;
	}
}


@media screen and (min-width: $break_point + 1px) {

	.nav-main {
		display: block !important;
	}

}

@media screen and (max-width: $break_point) {

	#container {

		.site-header {
		}
	}
}

//************************************************

// Footer

//***********************************************

.site-footer {
}

@media screen and (max-width: $break_point) {

	#container {

		.site-footer {
		}
	}
}

