.fixed-width {
	margin-right: auto;
	margin-left: auto;
	width: $base_width;
}

.col {
	zoom: 1;

	&:after {
		content: '';
		display: block;
		clear: both;
		overflow: hidden;
	}

	.box {
		float: left;
	}

	.box--r {
		float: right;
	}

	&.col--2 {

		.box {
			width: 49%;

			&:nth-child(2n) {
				float: right;
			}

		}
	}

	&.col--3 {

		.box {
			margin-right: 2%;
			width: 32%;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;

	&.flex--col-2 {
		justify-content: space-between;

		.flex__item {
			width: 48%;
		}

	}

	&.flex--col-3 {
		justify-content: flex-start;

		.flex__item {
			width: 32%;
			margin-right: 2%;

			&:nth-child(3n) {
				margin-right: 0;
			}

		}
	}
}

@media screen and (max-width: $break_point) {
	
	#container {
		
		.fixed-width {
			width: auto;
		}

		.sp-pad {
			padding-right: $sp_pad;
			padding-left: $sp_pad;
		}

		.col {
			
			.box,
			.box--r {
				float: none;
			}

			&.col--2 {

				.box {
					width: auto;

					&:nth-child(2n) {
						float: none;
					}

				}

			}

			&.col--3 {

				.box {
					margin-right: 0;
					width: auto;

					&:nth-child(3n) {
						float: none;
					}

				}

			}
			
		}

		.flex--reset-sp {
			display: block;

			.flex__item {
				width: auto;
			}

		}

	}

}