@mixin object($pos: absolute) {
	display: block;
	content: "";
	position: $pos;
}

$set-prefix: -moz- , -webkit-, -o-, -ms-, '';

@mixin prefix($prop, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$prop}: $value;
    }
}
