@charset "UTF-8";

/************************************************

 Single property

************************************************/

#container {
	
	// display
	.set-disp-cell { display: table-cell; }
	.set-disp-iblock { display: inline-block; }

	// floa
	.set-float-l { float: left; }
	.set-float-r { float: right; }

	//text align
	.set-align-c { text-align: center; }
	.set-align-r { text-align: right; }
	.set-align-l { text-align: left; }

	.set-w-full { width: 100%; }
	.set-w-half { width: 50%; }
	.set-w-200  { width: 200px; }
	.set-w-250  { width: 250px; }
	.set-w-300  { width: 300px; }
	.set-w-350  { width: 350px; }
	.set-w-400  { width: 400px; }

	// margin top
	.set-mt-5   { margin-top: 5px; }
	.set-mt-10  { margin-top: 10px; }
	.set-mt-20  { margin-top: 20px; }
	.set-mt-30  { margin-top: 30px; }
	.set-mt-40  { margin-top: 40px; }
	.set-mt-50  { margin-top: 50px; }
	.set-mt-60  { margin-top: 60px; }
	.set-mt-70  { margin-top: 70px; }
	.set-mt-80  { margin-top: 80px; }
	.set-mt-90  { margin-top: 90px; }
	.set-mt-100 { margin-top: 100px; }

	// margin right
	.set-mr-5   { margin-right: 5px; }
	.set-mr-10  { margin-right: 10px; }
	.set-mr-20  { margin-right: 20px; }
	.set-mr-30  { margin-right: 30px; }
	.set-mr-40  { margin-right: 40px; }
	.set-mr-50  { margin-right: 50px; }
	.set-mr-60  { margin-right: 60px; }
	.set-mr-70  { margin-right: 70px; }
	.set-mr-80  { margin-right: 80px; }
	.set-mr-90  { margin-right: 90px; }
	.set-mr-100 { margin-right: 100px; }

	// margin bottom
	.set-mb-5   { margin-bottom: 5px; }
	.set-mb-10  { margin-bottom: 10px; }
	.set-mb-20  { margin-bottom: 20px; }
	.set-mb-30  { margin-bottom: 30px; }
	.set-mb-40  { margin-bottom: 40px; }
	.set-mb-50  { margin-bottom: 50px; }
	.set-mb-60  { margin-bottom: 60px; }
	.set-mb-70  { margin-bottom: 70px; }
	.set-mb-80  { margin-bottom: 80px; }
	.set-mb-90  { margin-bottom: 90px; }
	.set-mb-100 { margin-bottom: 100px; }

	// margin left
	.set-ml-5   { margin-left: 5px; }
	.set-ml-10  { margin-left: 10px; }
	.set-ml-20  { margin-left: 20px; }
	.set-ml-30  { margin-left: 30px; }
	.set-ml-40  { margin-left: 40px; }
	.set-ml-50  { margin-left: 50px; }
	.set-ml-60  { margin-left: 60px; }
	.set-ml-70  { margin-left: 70px; }
	.set-ml-80  { margin-left: 80px; }
	.set-ml-90  { margin-left: 90px; }
	.set-ml-100 { margin-left: 100px; }

	// padding top
	.set-pt-5   { padding-top: 5px; }
	.set-pt-10  { padding-top: 10px; }
	.set-pt-20  { padding-top: 20px; }
	.set-pt-30  { padding-top: 30px; }
	.set-pt-40  { padding-top: 40px; }
	.set-pt-50  { padding-top: 50px; }
	.set-pt-60  { padding-top: 60px; }
	.set-pt-70  { padding-top: 70px; }
	.set-pt-80  { padding-top: 80px; }
	.set-pt-90  { padding-top: 90px; }
	.set-pt-100 { padding-top: 100px; }

	// padding right
	.set-pr-5   { padding-right: 5px; }
	.set-pr-10  { padding-right: 10px; }
	.set-pr-20  { padding-right: 20px; }
	.set-pr-30  { padding-right: 30px; }
	.set-pr-40  { padding-right: 40px; }
	.set-pr-50  { padding-right: 50px; }
	.set-pr-60  { padding-right: 60px; }
	.set-pr-70  { padding-right: 70px; }
	.set-pr-80  { padding-right: 80px; }
	.set-pr-90  { padding-right: 90px; }
	.set-pr-100 { padding-right: 100px; }

	// padding bottom
	.set-pb-5   { padding-bottom: 5px; }
	.set-pb-10  { padding-bottom: 10px; }
	.set-pb-20  { padding-bottom: 20px; }
	.set-pb-30  { padding-bottom: 30px; }
	.set-pb-40  { padding-bottom: 40px; }
	.set-pb-50  { padding-bottom: 50px; }
	.set-pb-60  { padding-bottom: 60px; }
	.set-pb-70  { padding-bottom: 70px; }
	.set-pb-80  { padding-bottom: 80px; }
	.set-pb-90  { padding-bottom: 90px; }
	.set-pb-100 { padding-bottom: 100px; }

	// padding left
	.set-pl-5   { padding-left: 5px; }
	.set-pl-10  { padding-left: 10px; }
	.set-pl-20  { padding-left: 20px; }
	.set-pl-30  { padding-left: 30px; }
	.set-pl-40  { padding-left: 40px; }
	.set-pl-50  { padding-left: 50px; }
	.set-pl-60  { padding-left: 60px; }
	.set-pl-70  { padding-left: 70px; }
	.set-pl-80  { padding-left: 80px; }
	.set-pl-90  { padding-left: 90px; }
	.set-pl-100 { padding-left: 100px; }
	
}

@media screen and (max-width: $break_point) {
	
	#container {

		.reset-sp-mt { margin-top: 0; }
		.reset-sp-mr { margin-right: 0; }
		.reset-sp-mb { margin-bottom: 0; }
		.reset-sp-ml { margin-left: 0; }

		.set-w {
			width: auto;
		}


	}
}


