@charset "UTF-8";

$base_width  : 1000px;
$break_point : 720px;
$sans_serif  : 'Noto Sans Japanese', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", sans-serif;
$serif       : "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
$sp_pad      : 3%;
$bc          : #000;
$sp_base_fs  : 4vw;