#container {
	
	.icon {
		position: relative;
		display: inline-block;
		background: 50% 50% no-repeat;
		background-size: 100% auto;
		vertical-align: top;
		line-height: 1;

		&.icon--arrow {
			top: 8px;
			width: 6px;
			height: 6px;
			border-top: 2px solid #999;
			border-right: 2px solid #999;
			transform: rotate(45deg);
		}

		&.icon--circle-arrow {
			background: #333;
			border-radius: 100px;
			width: 16px;
			height: 16px;

			&:after {
				@include object();
				left: 4px;
				top: 5px;
				width: 4px;
				height: 4px;
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
				transform: rotate(45deg);
			}
		}
	}

}