#container {
  .list-default {
    li {
    }

    @include sp_style() {
    }
  }

  .list-disc {
    list-style: disc;
    margin-left: 20px;

    @include sp_style() {
    }
  }

  .list-inline {
    li {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }

    @include sp_style() {
    }
  }
}
