@use 'foundation/' as g;

/******************************
 *c-btn
 ******************************/

.c-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  line-height: 1.1;
  text-decoration: none;
  user-select: none;
  border: 0;

  &:hover {
    text-decoration: none;
  }

  &--close {
    background: #000;
    width: 38px;
    height: 38px;

    &:before,
    &:after {
      content: "";
      display: block;
      background: #fff;
      width: 70%;
      height: 2px;
      position: absolute;
      left: 15%;
      top: 50%;
      margin-top: -1px;
    }
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(-135deg);
    }
  }
}
