@use 'foundation/' as *;

/*========================================
  ボタン
========================================*/

.c-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  line-height: 1.1;
  text-decoration: none;
  user-select: none;
  border: 0;
}
