@use 'foundation/' as *;

/*========================================
  アイコン
========================================*/

.c-icon {
  position: relative;
  display: inline-block;
  background: 50% 50% no-repeat;
  background-size: contain;
  vertical-align: top;
  line-height: 1;
  font-style: normal;
}
