/******************************
 * icon
 ******************************/

.icon {
  position: relative;
  display: inline-block;
  background: 50% 50% no-repeat;
  background-size: 100% auto;
  vertical-align: top;
  line-height: 1;
  font-style: normal;

  &--arr {
    top: 8px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    transform: rotate(45deg);
  }

  &--carr {
    background: #333;
    border-radius: 100px;
    width: 16px;
    height: 16px;
    &:after {
      @include object();
      left: 4px;
      top: 5px;
      width: 4px;
      height: 4px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
    }
  }
  &--toggle {

    &::after {
      position: absolute;
      left: 50%;
      top: 58%;
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-top: 3px solid #000;
      border-right: 3px solid #000;
      transform: translate(-50%,-100%) rotate(135deg);
      transition: transform .25s ease;

      @include sp_style() {
        width: vw(16);
        height: vw(16);
        border-width: 2px;
      };
    }
  
    &.is {
      &::after {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
  }
}
