@use 'foundation/' as g;

/******************************
 * list
 ******************************/

.list-disc {
  list-style: disc;
  margin-left: 20px;

  @include g.sp_style() {
  };
}

.list-inline {

  li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }

  @include g.sp_style() {
  };
}
