/******************************
 * res-box
 ******************************/

.res-box {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  iframe,
  video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  @include sp_style() {
  };
}
