.col-2 {
  .item {
    width: 48%;
  }
  @include sp_style() {
  }
}

.col-3 {
  .item {
    width: 32%;
    margin-right: 2%;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include sp_style() {
  }
}
