#container {
	@media screen and (min-width: $BREAK_BEFORE) {
		min-width: $BASE_WIDTH;
	}
}

.fixed-width {
	margin-right: auto;
	margin-left: auto;
	
	@media screen and (min-width: $BREAK_BEFORE) {
		width: $BASE_WIDTH;
	}
}

.col {
	zoom: 1;

	&:after {
		content: '';
		display: block;
		clear: both;
		overflow: hidden;
	}

	// pc で float sp で float しない
	@media screen and (min-width: $BREAK_BEFORE) {

		.box {
			float: left;
		}

		.box--r {
			float: right;
		}

	}

	&.col--2 {

		@media screen and (min-width: $BREAK_BEFORE) {
			.box {
				width: 49%;

				&:nth-child(2n) {
					float: right;
				}
			}
		}
	}

	&.col--3 {

		@media screen and (max-width: $BREAK_BEFORE) {

			.box {
				margin-right: 2%;
				width: 32%;

				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	&.flex--col-2 {

		.flex__item {
			width: 48%;
		}

		@media screen and (max-width: $BREAK_POINT) {
		}

	}

	&.flex--col-3 {
		justify-content: flex-start;

		.flex__item {
			width: 32%;
			margin-right: 2%;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media screen and (max-width: $BREAK_POINT) {
		}
	}
}

@media screen and (max-width: $BREAK_POINT) {
	
	#container {

		.sp-pad {
			padding-right: $SP_PAD;
			padding-left: $SP_PAD;
		}

		.flex--reset-sp {
			display: block;

			.flex__item {
				width: auto;
			}
		}
	}
}