.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include sp_style() {
    &--reset-sp {
      display: block;

      .flex__item {
        width: auto;
      }
    }
  }
}

.flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex--r {
  flex-flow: row-reverse;
}
