.col {
  zoom: 1;

  &:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
  }

  // pc で float sp で float しない
  @include pc_style() {
    .box {
      float: left;
    }

    .box-r {
      float: right;
    }
  }

  &.col--2 {
    @include pc_style() {
      .box {
        width: 49%;

        &:nth-child(2n) {
          float: right;
        }
      }
    }
  }
}
