#container {
  .nav-main {
    @include pc_style() {
      ul {
        display: table;
        width: 100%;
      }

      li {
        display: table-cell;
      }
    }

    @include sp_style() {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      overflow: auto;
      display: none;
      background-color: #fff;
      width: 100%;
      height: 100vh;

      ul {
        width: 100%;
      }

      li {
        padding: 10px;
        border-bottom: 1px solid #000;
      }
    }
  }
}
