.l-nav {

  @include pc_style() {
    &__list {
      display: table;
      width: 100%;
    }
    &__item {
      display: table-cell;
    }
  }
  @include sp_style() {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    overflow: auto;
    display: none;
    background-color: #fff;
    width: 100%;
    height: 100vh;

    &__list {
      width: 100%;
    }
    &__item {
      padding: 10px;
      border-bottom: 1px solid #000;
    }
  }
}
