@use 'foundation/' as *;

/******************************
 * util align
 ******************************/

.u-block-c {
  margin-left: auto;
  margin-right: auto;
}

.u-align-c {
  text-align: center;
}

.u-align-r {
  text-align: right;
}

.u-align-l {
  text-align: left;
}

.u-valign-t {
  vertical-align: top;
}

.u-valign-m {
  vertical-align: middle;
}

.u-valign-b {
  vertical-align: bottom;
}

@include ltSP() {

  .u-sp-align-c {
    text-align: center;
  }

  .u-sp-align-r {
    text-align: right;
  }

  .u-sp-align-l {
    text-align: left;
  }

};
