/******************************
 * util display
 ******************************/

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.sp-only-ib,
.sp-only {
  display: none;
}

.set-hide {
  display: none;
}

.set-disp-table {
  display: table;
}

.set-disp-cell {
  display: table-cell;
}

.set-disp-ib {
  display: inline-block;
}

@include sp_style() {

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .sp-only-ib {
    display: inline-block;
  }

};
