@use 'foundation/' as *;

/******************************
 * util display
 ******************************/

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.u-hide {
  display: none;
}

.u-disp-ib {
  display: inline-block;
}

@include gtTAB() {

 .u-sp-only {
   display: none;
 }

};
@include ltSP() {

  .u-pc-only {
    display: none;
  }

};
