@use 'foundation/' as g;

/******************************
 * util flex
 ******************************/

.u-flex {
  $this: &;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &--start {
    justify-content: flex-start;
  }

  &--center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--r {
    flex-flow: row-reverse;
  }

  &--col2 {
    #{$this}__item {
      width: 48%;
    }
  }
  &--col3 {
    #{$this}__item {
      width: 32%;
    }
  }

  @include g.sp_style() {

    &--reset-sp {
      display: block;

      #{$this}__item {
        width: auto;
      }
    }

  };
}
