@use 'foundation/' as *;

/******************************
 * util margin
 ******************************/

$arrn: 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $n in $arrn {
  .u-mt-#{$n} {
    margin-top: #{$n}px;
  }
  .u-mr-#{$n} {
    margin-right: #{$n}px;
  }
  .u-mt-#{$n} {
    margin-top: #{$n}px;
  }
  .u-mb-#{$n} {
    margin-bottom: #{$n}px;
  }
  .u-ml-#{$n} {
    margin-left: #{$n}px;
  }
}

.reset-mt {
  margin-top: 0;
}

.reset-mr {
  margin-right: 0;
}

.reset-mb {
  margin-bottom: 0;
}

.reset-ml {
  margin-left: 0;
}

@include sp_style() {

  $arrspn: 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100;

  @each $n in $arrspn {
    .u-sp-mt-#{$n} {
      margin-top: #{$n}vw;
    }
    .u-sp-mr-#{$n} {
      margin-right: #{$n}vw;
    }
    .u-sp-mt-#{$n} {
      margin-top: #{$n}vw;
    }
    .u-sp-mb-#{$n} {
      margin-bottom: #{$n}vw;
    }
    .u-sp-ml-#{$n} {
      margin-left: #{$n}vw;
    }
  }

  .reset-sp-mt {
    margin-top: 0;
  }

  .reset-sp-mr {
    margin-right: 0;
  }

  .reset-sp-mb {
    margin-bottom: 0;
  }

  .reset-sp-ml {
    margin-left: 0;
  }

};
