@use 'foundation/' as g;

/******************************
 * util padding
 ******************************/

$arrn: 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $n in $arrn {
  .u-pt-#{$n} {
    padding-top: #{$n}px;
  }
  .u-pr-#{$n} {
    padding-right: #{$n}px;
  }
  .u-pt-#{$n} {
    padding-top: #{$n}px;
  }
  .u-pb-#{$n} {
    padding-bottom: #{$n}px;
  }
  .u-pl-#{$n} {
    padding-left: #{$n}px;
  }
}
.reset-pt {
  padding-top: 0;
}
.reset-pr {
  padding-right: 0;
}
.reset-pb {
  padding-bottom: 0;
}
.reset-pl {
  padding-left: 0;
}

@include g.sp_style() {

  .sp-pad {
    padding-right: g.$SP_PAD;
    padding-left: g.$SP_PAD;
  }
  $arrspn: 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100;
  @each $n in $arrspn {
      .u-sp-pt-#{$n} {
        padding-top: #{$n}vw;
      }

      .u-sp-pr-#{$n} {
        padding-right: #{$n}vw;
      }

      .u-sp-pt-#{$n} {
        padding-top: #{$n}vw;
      }

      .u-sp-pb-#{$n} {
        padding-bottom: #{$n}vw;
      }

      .u-sp-pl-#{$n} {
        padding-left: #{$n}vw;
      }
  }
  .reset-sp-ml {
    margin-left: 0;
  }
  .reset-sp-pt {
    padding-top: 0;
  }
  .reset-sp-pr {
    padding-right: 0;
  }
  .reset-sp-pb {
    padding-bottom: 0;
  }
  .reset-sp-pl {
    padding-left: 0;
  }

};

