@use 'foundation/' as *;

/******************************
 * util padding
 ******************************/

$arrn: 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $n in $arrn {
  .u-pt-#{$n} {
    padding-top: #{$n}px;
  }
  .u-pr-#{$n} {
    padding-right: #{$n}px;
  }
  .u-pt-#{$n} {
    padding-top: #{$n}px;
  }
  .u-pb-#{$n} {
    padding-bottom: #{$n}px;
  }
  .u-pl-#{$n} {
    padding-left: #{$n}px;
  }
}
.u-reset-pt {
  padding-top: 0;
}
.u-reset-pr {
  padding-right: 0;
}
.u-reset-pb {
  padding-bottom: 0;
}
.u-reset-pl {
  padding-left: 0;
}

@include ltSP() {

  .u-sp-pad {
    padding-right: var(--sp-pad);
    padding-left: var(--sp-pad);
  }

  $arrspn: 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100;

  @each $n in $arrspn {
      .u-sp-pt-#{$n} {
        padding-top: #{$n}vw;
      }
      .u-sp-pr-#{$n} {
        padding-right: #{$n}vw;
      }
      .u-sp-pt-#{$n} {
        padding-top: #{$n}vw;
      }
      .u-sp-pb-#{$n} {
        padding-bottom: #{$n}vw;
      }
      .u-sp-pl-#{$n} {
        padding-left: #{$n}vw;
      }
  }
  .u-reset-sp-ml {
    margin-left: 0;
  }
  .u-reset-sp-pt {
    padding-top: 0;
  }
  .u-reset-sp-pr {
    padding-right: 0;
  }
  .u-reset-sp-pb {
    padding-bottom: 0;
  }
  .u-reset-sp-pl {
    padding-left: 0;
  }

};

