@use 'foundation/' as g;

/******************************
 * util other
 ******************************/

.u-pos-rel {
  position: relative;
}

.u-pos-abs {
  position: absolute;
}

.u-float-l {
  float: left;
}

.u-float-r {
  float: right;
}

.u-wbreak {
  word-break: break-all;
}

.u-nowrap {
  white-space: nowrap;
}

.u-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reset-a-style {
  cursor: default;
}

@include g.sp_style() {

  .reset-sp-pos {
    position: static;
  }

};

