@use 'foundation/' as g;

/******************************
 * util width
 ******************************/

.u-fix-w {
  margin-right: auto;
  margin-left: auto;
  @include g.pc_style() {
    width: g.$BASE_WIDTH;
  }
}

$arrw: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $w in $arrw {
  .u-w-#{$w} {
    width: percentage($w / 100);
  }
}

.u-w-full {
  width: 100%;
}

.reset-max-w {
  max-width: none;
}

@include g.sp_style() {

  .sp-full-w {
    margin-right: -1 * g.$SP_PAD;
    margin-left: -1 * g.$SP_PAD;
  }
  .reset-sp-w {
    width: auto;
  }

}
