@charset "UTF-8";

// 画像置換
// heightを0にしてpadding-topを取るApple方式
@mixin img-replace( $width: 0, $padding-top: 0 , $display: normal) {
	@if $display != normal {
		display: $display;
	}
	overflow: hidden;
	padding-top: $padding-top;
	width: $width;
	height: 0;
	line-height: 1.7;
}