/************************************************

 Link color

************************************************/
a:link {}
a:visited {}
a:hover {}
a:active {}

/************************************************

 Sidebar

************************************************/

/************************************************

 Layout

************************************************/

.section { clear: both; }

.unit, .unit-col { clear: both; }

.unit-col {
	.box  { float: left; }
	.last { float: right; }
}

/************************************************

 Navigation

************************************************/

.local-nav {

	.current {}
}

.fragment-nav {}

.to-top {}

.pagination {}

/************************************************

 Heading

************************************************/

.heading-a {}

/************************************************

 Conmponent

************************************************/
/*tables*/
.table-a {
	width: 100%;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;

	th, td {
		padding: 6px 8px;
		border-top: 1px solid #CCC;
		border-right: 1px solid #CCC;
	}
}

/************************************************

 Form Elenments

************************************************/
