@charset "UTF-8";

/*text align*/
.center { text-align: center; }
.right  { text-align: right; }
.left   { text-align: left; }

/* width */
body .set-w-200 { width: 200px; }
body .set-w-250 { width: 250px; }
body .set-w-300 { width: 300px; }
body .set-w-350 { width: 350px; }
body .set-w-400 { width: 400px; }

/* margin top */
body .set-mt-10  { margin-top: 10px; }
body .set-mt-20  { margin-top: 20px; }
body .set-mt-50  { margin-top: 50px; }
body .set-mt-100 { margin-top: 100px; }

/* margin right */
body .set-mr-10  { margin-right: 10px; }
body .set-mr-20  { margin-right: 20px; }
body .set-mr-50  { margin-right: 50px; }
body .set-mr-100 { margin-right: 100px; }

/* margin bottom */
body .set-mb-10  { margin-bottom: 10px; }
body .set-mb-20  { margin-bottom: 20px; }
body .set-mb-50  { margin-bottom: 50px; }
body .set-mb-100 { margin-bottom: 100px; }

/* margin left */
body .set-ml-10  { margin-left: 10px; }
body .set-ml-20  { margin-left: 20px; }
body .set-ml-50  { margin-left: 50px; }
body .set-ml-100 { margin-left: 100px; }

/* padding top */
body .set-pt-10  { padding-top: 10px; }
body .set-pt-20  { padding-top: 20px; }
body .set-pt-50  { padding-top: 50px; }
body .set-pt-100 { padding-top: 100px; }

/* padding right */
body .set-pr-10  { padding-right: 10px; }
body .set-pr-20  { padding-right: 20px; }
body .set-pr-50  { padding-right: 50px; }
body .set-pr-100 { padding-right: 100px; }

/* padding bottom */
body .set-pb-10  { padding-bottom: 10px; }
body .set-pb-20  { padding-bottom: 20px; }
body .set-pb-50  { padding-bottom: 50px; }
body .set-pb-100 { padding-bottom: 100px; }

/* padding left */
body .set-pl-10  { padding-left: 10px; }
body .set-pl-20  { padding-left: 20px; }
body .set-pl-50  { padding-left: 50px; }
body .set-pl-100 { padding-left: 100px; }
