@charset "UTF-8";

$font8px :  8px;
$font9px :  9px;
$font10px: 10px;
$font11px: 11px;
$font12px: 12px;
$font13px: 13px;
$font14px: 14px;
$font15px: 15px;
$font16px: 16px;
$font17px: 17px;
$font18px: 18px;
$font19px: 19px;
$font20px: 20px;
$font21px: 21px;
$font22px: 22px;
$font23px: 23px;
$font24px: 24px;
$font25px: 25px;
$font26px: 26px;

//percent default 10px _reset.scss の設定に依存
$font8 :  80%;
$font9 :  90%;
$font10: 100%;
$font11: 110%;
$font12: 120%;
$font13: 130%;
$font14: 140%;
$font15: 150%;
$font16: 160%;
$font17: 170%;
$font18: 180%;
$font19: 190%;
$font20: 200%;
$font21: 210%;
$font22: 220%;
$font23: 230%;
$font24: 240%;
$font25: 250%;
$font26: 260%;

// フォント
$mincho: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;

