#container {

	.list-default {
		
		li { 
		}
		
		@media screen and (max-width: $BREAK_POINT) {
		}
	}

	.list-disc {
		list-style: disc;
		margin-left: 20px;

		@media screen and (max-width: $BREAK_POINT) {
		}
	}

	.list-inline {
		
		li {
			display: inline-block;
			margin-right: 10px;
			vertical-align: top;
		}

		@media screen and (max-width: $BREAK_POINT) {
		}
	}

}
